In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("datasets/dataset_mood_smartphone.csv", sep=",", encoding="utf-8")

In [3]:
data.head()

   Unnamed: 0       id                     time variable  value
0           1  AS14.01  2014-02-26 13:00:00.000     mood    6.0
1           2  AS14.01  2014-02-26 15:00:00.000     mood    6.0
2           3  AS14.01  2014-02-26 18:00:00.000     mood    6.0
3           4  AS14.01  2014-02-26 21:00:00.000     mood    7.0
4           5  AS14.01  2014-02-27 09:00:00.000     mood    6.0

In [4]:
column_names = list(set(data.variable))

In [5]:
column_names.remove("mood")

In [6]:
column_names = ["id", "time", "mood"] + column_names

In [7]:
column_names

['id',
 'time',
 'mood',
 'appCat.communication',
 'appCat.other',
 'sms',
 'circumplex.valence',
 'screen',
 'appCat.entertainment',
 'appCat.weather',
 'appCat.social',
 'appCat.game',
 'appCat.office',
 'call',
 'appCat.builtin',
 'appCat.finance',
 'circumplex.arousal',
 'activity',
 'appCat.utilities',
 'appCat.unknown',
 'appCat.travel']

In [8]:
dataset = pd.DataFrame(columns=column_names)

In [9]:
for row in data[data["variable"] == "mood"].itertuples():
    dataset.loc[len(dataset)] = {
        'id': row.id,
        'time': row.time,
        'mood': row.value,
        'appCat.other': 0.0,
        'appCat.weather': 0.0,
        'circumplex.valence': 0.0,
        'circumplex.arousal': 0.0,
        'appCat.entertainment': 0.0,
        'appCat.finance': 0.0,
        'appCat.social': 0.0,
        'appCat.game': 0.0,
        'appCat.builtin': 0.0,
        'appCat.communication': 0.0,
        'call': 0.0,
        'screen': 0.0,
        'appCat.unknown': 0.0,
        'activity': 0.0,
        'appCat.travel': 0.0,
        'appCat.office': 0.0,
        'appCat.utilities': 0.0,
        'sms': 0.0,
    }

In [10]:
dataset

,id,time,mood,appCat.communication,appCat.other,sms,circumplex.valence,screen,appCat.entertainment,appCat.weather,...,appCat.game,appCat.office,call,appCat.builtin,appCat.finance,circumplex.arousal,activity,appCat.utilities,appCat.unknown,appCat.travel
0,AS14.01,2014-02-26 13:00:00.000,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AS14.01,2014-02-26 15:00:00.000,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AS14.01,2014-02-26 18:00:00.000,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AS14.01,2014-02-26 21:00:00.000,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AS14.01,2014-02-27 09:00:00.000,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5636,AS14.33,2014-05-30 09:00:00.000,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5637,AS14.33,2014-05-30 13:00:00.000,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5638,AS14.33,2014-05-30 19:00:00.000,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5639,AS14.33,2014-05-30 20:00:00.000,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5640,AS14.33,2014-05-31 12:00:00.000,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
data = data.loc[data["variable"] != "mood"]

In [12]:
data

,Unnamed: 0,id,time,variable,value
5641,5642,AS14.01,2014-02-26 13:00:00.000,circumplex.arousal,-1.000
5642,5643,AS14.01,2014-02-26 15:00:00.000,circumplex.arousal,-1.000
5643,5644,AS14.01,2014-02-26 18:00:00.000,circumplex.arousal,0.000
5644,5645,AS14.01,2014-02-26 21:00:00.000,circumplex.arousal,1.000
5645,5646,AS14.01,2014-02-27 09:00:00.000,circumplex.arousal,-2.000
...,...,...,...,...,...
376907,2770399,AS14.30,2014-04-11 07:51:16.948,appCat.weather,8.032
376908,2772465,AS14.30,2014-04-19 11:00:32.747,appCat.weather,3.008
376909,2774026,AS14.30,2014-04-26 10:19:07.434,appCat.weather,7.026
376910,2774133,AS14.30,2014-04-27 00:44:48.450,appCat.weather,23.033
376911,2784435,AS14.32,2014-04-07 18:25:14.036,appCat.weather,22.431

In [13]:
data['time'] = pd.to_datetime(data['time'])
dataset['time'] = pd.to_datetime(dataset['time'])

In [14]:
dataset = dataset.sort_values(by=['id','time']).reset_index()
dataset.drop(['index'], axis=1, inplace=True)

In [15]:
dataset

,id,time,mood,appCat.communication,appCat.other,sms,circumplex.valence,screen,appCat.entertainment,appCat.weather,...,appCat.game,appCat.office,call,appCat.builtin,appCat.finance,circumplex.arousal,activity,appCat.utilities,appCat.unknown,appCat.travel
0,AS14.01,2014-02-26 13:00:00,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AS14.01,2014-02-26 15:00:00,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AS14.01,2014-02-26 18:00:00,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AS14.01,2014-02-26 21:00:00,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AS14.01,2014-02-27 09:00:00,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5636,AS14.33,2014-05-30 09:00:00,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5637,AS14.33,2014-05-30 13:00:00,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5638,AS14.33,2014-05-30 19:00:00,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5639,AS14.33,2014-05-30 20:00:00,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5640,AS14.33,2014-05-31 12:00:00,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
for idx in range(len(dataset)):
    cur_time = dataset.loc[idx, 'time']
    cur_id = dataset.loc[idx, 'id']
    
    related_data = data[(data['id'] == cur_id) & (data['time'] <= cur_time)].copy().groupby('variable').agg({"value": "sum"})
    for row in related_data.itertuples():
        dataset.at[idx, row.Index] = row.value
        
    data = data.loc[(data['id'] != cur_id) | (data['time'] > cur_time)]

In [17]:
dataset

,id,time,mood,appCat.communication,appCat.other,sms,circumplex.valence,screen,appCat.entertainment,appCat.weather,...,appCat.game,appCat.office,call,appCat.builtin,appCat.finance,circumplex.arousal,activity,appCat.utilities,appCat.unknown,appCat.travel
0,AS14.01,2014-02-26 13:00:00,6.0,0.000,0.000,7.0,0.0,0.000000,0.000,0.0,...,0.0,0.0,17.0,0.000,0.0,-1.0,0.000000,0.000,0.000,0.000
1,AS14.01,2014-02-26 15:00:00,6.0,0.000,0.000,0.0,1.0,0.000000,0.000,0.0,...,0.0,0.0,0.0,0.000,0.0,-1.0,0.000000,0.000,0.000,0.000
2,AS14.01,2014-02-26 18:00:00,6.0,0.000,0.000,1.0,1.0,0.000000,0.000,0.0,...,0.0,0.0,0.0,0.000,0.0,0.0,0.000000,0.000,0.000,0.000
3,AS14.01,2014-02-26 21:00:00,7.0,0.000,0.000,0.0,1.0,0.000000,0.000,0.0,...,0.0,0.0,1.0,0.000,0.0,1.0,0.000000,0.000,0.000,0.000
4,AS14.01,2014-02-27 09:00:00,6.0,0.000,0.000,1.0,0.0,0.000000,0.000,0.0,...,0.0,0.0,0.0,0.000,0.0,-2.0,0.000000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5636,AS14.33,2014-05-30 09:00:00,8.0,49.143,12.326,0.0,1.0,1212.441000,85.828,0.0,...,0.0,0.0,0.0,144.100,0.0,1.0,0.260504,0.000,0.000,136.934
5637,AS14.33,2014-05-30 13:00:00,6.0,571.462,17.095,0.0,0.0,2137.003000,4.106,0.0,...,0.0,0.0,0.0,1263.565,0.0,0.0,1.704301,220.494,5.026,132.148
5638,AS14.33,2014-05-30 19:00:00,8.0,748.559,0.000,0.0,-1.0,2438.450999,0.000,0.0,...,0.0,0.0,4.0,970.069,0.0,-2.0,1.599415,4.306,3.046,783.566
5639,AS14.33,2014-05-30 20:00:00,6.0,76.191,13.068,0.0,-1.0,22.573000,0.000,0.0,...,0.0,0.0,0.0,6.072,0.0,-2.0,0.008403,0.000,0.000,0.000
5640,AS14.33,2014-05-31 12:00:00,7.0,225.487,10.121,0.0,1.0,3687.178999,170.286,0.0,...,0.0,0.0,0.0,660.224,0.0,-2.0,0.392094,8.025,0.000,0.000

In [18]:
dataset.to_csv("datasets/mood_dataset_preprocessed.csv", encoding="utf-8", index=False)